
<div class="cuerpo">

  <h1 class="slogan">Improving your life one line at the time.</h1>

  <div id="code" class="rounded-pill">
    <p>
      <span style="color:forestgreen">life</span>
      <span style="color:white">.</span>
      <span style="color:orange">GetBetter</span>
      <span style="color:white">(</span>
      <span style="color:dodgerblue">love</span>
      <span style="color:white">,&nbsp;</span>
      <span style="color:dodgerblue">effort</span>
      <span style="color:white">,&nbsp;</span>
      <span style="color:dodgerblue">patience</span>
      <span style="color:white">);</span>
    </p>
  </div>

</div>


