
<div class="text-center">

  <h1 class="mt-3">Nice to meet you!</h1>
  <hr class="my-4" />

  <div class="imagen">

  </div>

  <div class="intro my-4 mat-elevation-z8">
    <p>
      Hi! My name is Andrés Bottazzi, I'm 23 years old and I'm from Argentina. I'm a full stack .NET developer. I created
      this website to let people know me and to show some of the things I can do for you. I hope you like it.
      Remember you can go to the contact page if you want to talk to me.
      Have a nice day!
    </p>
  </div>

  <h2 class="mt-5">My Skillset</h2>
  <hr class="mt-3" />
</div>

<div class="row row-cols-lg-3 row-cols-1">

  <div class="col mb-3">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="microsoft-avatar"></div>
        <mat-card-title>ASP .NET Core</mat-card-title>
        <mat-card-subtitle>By Microsoft</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="/images/aspNetCore-logo.png" alt="ASP .NET Core Logo" />

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions class="text-center">
        <a mat-button href="https://docs.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core?view=aspnetcore-5.0#:~:text=Generally%2C%20ASP.NET%20Core%20is%20composed%20of%20.NET%20Standard,of%20.NET%20Core%20over%20.NET%20Framework%20include%3A%20Cross-platform." target="_blank">Official Website</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col mb-3">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="google-avatar"></div>
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>By Google</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="/images/angular-logo.png" alt="Angular Logo" />

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions class="text-center">
        <a mat-button href="https://angular.io/" target="_blank">Official Website</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col mb-3">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="microsoft-avatar"></div>
        <mat-card-title>SQL Server</mat-card-title>
        <mat-card-subtitle>By Microsoft</mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image src="/images/sqlServer-logo.png" alt="Microsoft SQL Server Logo" />

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions class="text-center">
        <a mat-button href="https://www.microsoft.com/en-us/sql-server/sql-server-2019?rtc=1" target="_blank">Official Website</a>
      </mat-card-actions>
    </mat-card>
  </div>

</div>


