
<div class="text-center">
  <h1 class="mt-3">Time for some cool charts!</h1>
  <hr class="my-4" />

  <h2 class="mb-4">Chart made with data from an external API</h2>

  <p class="text-left">COVID 19 IN ARGENTINA</p>

  <div id="covid-chart" echarts [options]="argentinaCovidCasesOptions"></div>

  <hr class="my-4" />
  <h2>Chart made with data from a Database</h2>

  <p class="text-left">NUMBER OF PRODUCTS BY CATEGORY</p>

  <div id="db-chart" echarts [options]="dbProductsByCategoryOptions"></div>

</div>
